.navbar__container {
  position: relative;
  height:100%;
}

.navbar__container--coral {
  background-color: rgb(233, 184, 184) !important;
}

.navbar__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar__title-content {
  font-size: 1.5rem !important;
}

.navbar__links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0.5rem 0;
}

.navbar__link {
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: 400;
}

.navbar__link--primary {
  color: white;
}

.navbar__link:focus,
.navbar__link:active
{
  color: rgb(3, 3, 3);
}

.navbar__link:hover {
  color: rgb(77, 77, 235);
}

@media screen and (min-width: 375px) {
  .navbar__link {
    font-size: 0.95rem;
    font-weight: 600;
  }

  .navbar__title-content {
    font-size: 2rem !important;
  }
}


