.movies__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 15px;
    padding: 1rem;
}

.movies__search {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 1rem;
}

.movies__search-input {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .movies__search {
        justify-content: center;
    }
    .movies__search-input {
        width: 50%;
    }
}